Jasmine Pinheiro de Souza - Gu302704x

# Exercício - Aula 4

Utilizando séries e dataframes, crie um quadro de dados com as seguintes informações:

In [6]:
dict= {
    'nome': ['Anderson','Beatriz','Bruno','Cristiano','Daniel','Douglas','Elma','Fabricio','Gabriel','Janaina','Luiz','Marcos','Nadja','Oswaldo','Patricia','Ricardo'],
    'idade': [24,36,45,56,29,20,38,47,23,56,32,22,36,68,22,38],
    'cidade':['Santos','Atibaia','Guarulhos','Atibaia','Santos','Guarulhos','Guarulhos','Atibaia','Guarulhos','Guarulhos','Atibaia','Guarulhos','Santos','Guarulhos','Guarulhos','Santos'],
    'Registro': [32123, 45828, 34985, 13457, 98439, 99348, 45019, 24894, 32948, 13480, 22884, 56821, 65938, 12956, 75439, 45392],
    'Departamento': ['RH', 'PD', 'RH', 'ADM', 'ADM', 'RH', 'ADM', 'PD', 'PD', 'ADM', 'PD', 'ADM', 'PD', 'RH', 'ADM', 'PD'],
    'Formação': ['Graduação', 'Mestrado', 'Graduação', 'Técnico', 'Graduação', 'Técnico', 'Graduação', 'Graduação', 'Técnico', 'Graduação', 'Graduação', 'Graduação', 'Graduação', 'Mestrado', 'Graduação', 'Mestrado']
}

Utilizando o quadro de dados criado, e utilizando o modelo de agrupamento (groupby) estudado em sala, crie um grupamento com utilizando: 

- as cidade dos funcionários
- a formação dos funcionários
- o departamento dos funcionários
- a cidade e departamente dos funcionários
- o departamento e a formação dos funcionários

Utilizando a função lambda obtenha a diferença entre a média e o valor de cada subgrupo

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [7]:
df = pd.DataFrame(dict)

In [9]:
print(df)

         nome  idade     cidade  Registro Departamento   Formação
0    Anderson     24     Santos     32123           RH  Graduação
1     Beatriz     36    Atibaia     45828           PD   Mestrado
2       Bruno     45  Guarulhos     34985           RH  Graduação
3   Cristiano     56    Atibaia     13457          ADM    Técnico
4      Daniel     29     Santos     98439          ADM  Graduação
5     Douglas     20  Guarulhos     99348           RH    Técnico
6        Elma     38  Guarulhos     45019          ADM  Graduação
7    Fabricio     47    Atibaia     24894           PD  Graduação
8     Gabriel     23  Guarulhos     32948           PD    Técnico
9     Janaina     56  Guarulhos     13480          ADM  Graduação
10       Luiz     32    Atibaia     22884           PD  Graduação
11     Marcos     22  Guarulhos     56821          ADM  Graduação
12      Nadja     36     Santos     65938           PD  Graduação
13    Oswaldo     68  Guarulhos     12956           RH   Mestrado
14   Patricia     22  Guarulhos     75439          ADM  Graduação
15    Ricardo     38     Santos     45392           PD   Mestrado

In [10]:
# as cidade dos funcionarios

cidade_group = df.groupby('cidade').agg(Qtdfunc=('nome', 'count'))
print("Número de Funcionários por Cidade")
print(cidade_group)

Número de Funcionários por Cidade
           Qtdfunc
cidade
Atibaia          4
Guarulhos        8
Santos           4

In [11]:
# a formação dos funcionarios

formacao_group = df.groupby('Formação').agg(Qtdfunc=('nome', 'count'))
print("Número de Funcionários por Formação:")
print(formacao_group)

Número de Funcionários por Formação:
           Qtdfunc
Formação
Graduação       10
Mestrado         3
Técnico          3

In [12]:
# o departamento dos funcionarios

departamento_group = df.groupby('Departamento').agg(Qtdfunc=('nome', 'count'))
print("Número de Funcionários por Departamento:")
print(departamento_group)

Número de Funcionários por Departamento:
              Qtdfunc
Departamento
ADM                 6
PD                  6
RH                  4

In [13]:
# a cidade e departamente dos funcionarios

cidade_departamento_group = df.groupby(['cidade', 'Departamento']).agg(Qtdfunc=('nome', 'count'))
print("Número de Funcionários por Cidade e Departamento:")
print(cidade_departamento_group)

Número de Funcionários por Cidade e Departamento:
                        Qtdfunc
cidade    Departamento
Atibaia   ADM                 1
          PD                  3
Guarulhos ADM                 4
          PD                  1
          RH                  3
Santos    ADM                 1
          PD                  2
          RH                  1

In [33]:
# o departamento e a formação dos funcionarios

departamento_formacao_group = df.groupby(['Departamento', 'Formação']).agg(Qtdfunc=('nome', 'count'))
print("Número de Funcionários por Departamento e Formação:")
print(departamento_formacao_group)

Número de Funcionários por Departamento e Formação:
                        Qtdfunc
Departamento Formação
ADM          Graduação        5
             Técnico          1
PD           Graduação        3
             Mestrado         2
             Técnico          1
RH           Graduação        2
             Mestrado         1
             Técnico          1

In [22]:
# Grupo por cidade e contagem de funcionários por cidade
cidade_group = df.groupby('cidade').agg(Qtdfunc=('nome', 'count'))

# Calcular a diferença entre o valor de cada cidade e a média de todas as cidades
cidade_group['Diferença da Média'] = cidade_group['Qtdfunc'].apply(lambda x: x - cidade_group['Qtdfunc'].mean())

print("Número de Funcionários por Cidade com Diferença da Média:")
print(cidade_group)

Número de Funcionários por Cidade com Diferença da Média:
           Qtdfunc  Diferença da Média
cidade
Atibaia          4           -1.333333
Guarulhos        8            2.666667
Santos           4           -1.333333

In [25]:
# Grupo por formação e contagem de funcionários por formação
formacao_group = df.groupby('Formação').agg(Qtdfunc=('nome', 'count'))

# Calcular a diferença entre a média e o valor de cada formação
formacao_group['Diferença da Média'] = formacao_group['Qtdfunc'].apply(lambda x: x - formacao_group['Qtdfunc'].mean())

print("Número de Funcionários por Formação com Diferença da Média:")
print(formacao_group)

Número de Funcionários por Formação com Diferença da Média:
           Qtdfunc  Diferença da Média
Formação
Graduação       10            4.666667
Mestrado         3           -2.333333
Técnico          3           -2.333333

In [26]:
# Grupo por departamento e contagem de funcionários por departamento
departamento_group = df.groupby('Departamento').agg(Qtdfunc=('nome', 'count'))

# Calcular a diferença entre a média e o valor de cada departamento
departamento_group['Diferença da Média'] = departamento_group['Qtdfunc'].apply(lambda x: x - departamento_group['Qtdfunc'].mean())

print("Número de Funcionários por Departamento com Diferença da Média:")
print(departamento_group)

Número de Funcionários por Departamento com Diferença da Média:
              Qtdfunc  Diferença da Média
Departamento
ADM                 6            0.666667
PD                  6            0.666667
RH                  4           -1.333333

In [27]:
# Grupo por cidade e departamento e contagem de funcionários
cidade_departamento_group = df.groupby(['cidade', 'Departamento']).agg(Qtdfunc=('nome', 'count'))

# Calcular a diferença entre a média e o valor de cada cidade e departamento
cidade_departamento_group['Diferença da Média'] = cidade_departamento_group['Qtdfunc'].apply(lambda x: x - cidade_departamento_group['Qtdfunc'].mean())

print("Número de Funcionários por Cidade e Departamento com Diferença da Média:")
print(cidade_departamento_group)

Número de Funcionários por Cidade e Departamento com Diferença da Média:
                        Qtdfunc  Diferença da Média
cidade    Departamento
Atibaia   ADM                 1                -1.0
          PD                  3                 1.0
Guarulhos ADM                 4                 2.0
          PD                  1                -1.0
          RH                  3                 1.0
Santos    ADM                 1                -1.0
          PD                  2                 0.0
          RH                  1                -1.0

In [28]:
# Grupo por departamento e formação e contagem de funcionários
departamento_formacao_group = df.groupby(['Departamento', 'Formação']).agg(Qtdfunc=('nome', 'count'))

# Calcular a diferença entre a média e o valor de cada departamento e formação
departamento_formacao_group['Diferença da Média'] = departamento_formacao_group['Qtdfunc'].apply(lambda x: x - departamento_formacao_group['Qtdfunc'].mean())

print("Número de Funcionários por Departamento e Formação com Diferença da Média:")
print(departamento_formacao_group)

Número de Funcionários por Departamento e Formação com Diferença da Média:
                        Qtdfunc  Diferença da Média
Departamento Formação
ADM          Graduação        5                 3.0
             Técnico          1                -1.0
PD           Graduação        3                 1.0
             Mestrado         2                 0.0
             Técnico          1                -1.0
RH           Graduação        2                 0.0
             Mestrado         1                -1.0
             Técnico          1                -1.0